[Desktop Entry]
Type=Application
Name=Install CyberOS
Comment=Install CyberOS to this computer's disk
Exec=foot --app-id=cyberos-installer --title="Install CyberOS" sudo /usr/local/bin/cyberos-install
Icon=drive-harddisk
Terminal=false
Categories=System;
Keywords=install;setup;disk;
